In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(rc={'figure.figsize':(11.7,8.27)})
import matplotlib.pyplot as plt

In [34]:
data = pd.read_csv("D:\IIT\Projects\DataScienceproject\DSpro_sustainabledev_working\SDG_test_1.csv")
data

,Category,State/UT,SDG 1,SDG 2,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,State,Andhra Pradesh,81.0,52.0,NaN,NaN,NaN
1,State,Arunachal Pradesh,54.0,66.0,NaN,NaN,NaN
2,State,Assam,51.0,41.0,NaN,NaN,NaN
3,State,Bihar,32.0,31.0,NaN,NaN,NaN
4,State,Chhattisgarh,49.0,37.0,NaN,NaN,NaN
5,State,Goa,83.0,78.0,NaN,NaN,NaN
6,State,Gujarat,66.0,46.0,NaN,NaN,NaN
7,State,Haryana,69.0,58.0,NaN,NaN,NaN
8,State,Himachal Pradesh,80.0,52.0,NaN,NaN,NaN
9,State,Jharkhand,36.0,19.0,NaN,NaN,NaN
10,State,Karnataka,68.0,53.0,NaN,NaN,NaN
11,State,Kerala,83.0,80.0,NaN,NaN,NaN
12,State,Madhya Pradesh,44.0,43.0,NaN,NaN,NaN
13,State,Maharashtra,66.0,44.0,NaN,NaN,NaN
14,State,Manipur,60.0,64.0,NaN,NaN,NaN
15,State,Meghalaya,77.0,37.0,NaN,NaN,NaN
16,State,Mizoram,80.0,72.0,NaN,NaN,NaN
17,State,Nagaland,73.0,64.0,NaN,NaN,NaN
18,State,Odisha,41.0,42.0,NaN,NaN,NaN
19,State,Punjab,69.0,73.0,NaN,NaN,NaN
20,State,Rajasthan,63.0,53.0,NaN,NaN,NaN
21,State,Sikkim,80.0,69.0,NaN,NaN,NaN
22,State,Tamil Nadu,86.0,66.0,NaN,NaN,NaN
23,State,Telangana,68.0,50.0,NaN,NaN,NaN
24,State,Tripura,82.0,52.0,NaN,NaN,NaN
25,State,Uttar Pradesh,44.0,41.0,NaN,NaN,NaN
26,State,Uttarakhand,74.0,61.0,NaN,NaN,NaN
27,State,West Bengal,59.0,46.0,NaN,NaN,NaN
28,Union Territory,Andaman and Nicobar Islands,71.0,45.0,NaN,NaN,NaN
29,Union Territory,Chandigarh,75.0,97.0,NaN,NaN,NaN
30,Union Territory,Dadra and Nagar Haveli and Daman and Diu,65.0,27.0,NaN,NaN,NaN
31,Union Territory,Delhi,81.0,63.0,NaN,NaN,NaN
32,Union Territory,Jammu and Kashmir,69.0,71.0,NaN,NaN,NaN
33,Union Territory,Ladakh,79.0,71.0,NaN,NaN,NaN
34,Union Territory,Lakshadweep,61.0,74.0,NaN,NaN,NaN
35,Union Territory,Puducherry,75.0,59.0,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data1 = data.drop(36)

In [36]:
data1

,Category,State/UT,SDG 1,SDG 2,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,State,Andhra Pradesh,81.0,52.0,NaN,NaN,NaN
1,State,Arunachal Pradesh,54.0,66.0,NaN,NaN,NaN
2,State,Assam,51.0,41.0,NaN,NaN,NaN
3,State,Bihar,32.0,31.0,NaN,NaN,NaN
4,State,Chhattisgarh,49.0,37.0,NaN,NaN,NaN
5,State,Goa,83.0,78.0,NaN,NaN,NaN
6,State,Gujarat,66.0,46.0,NaN,NaN,NaN
7,State,Haryana,69.0,58.0,NaN,NaN,NaN
8,State,Himachal Pradesh,80.0,52.0,NaN,NaN,NaN
9,State,Jharkhand,36.0,19.0,NaN,NaN,NaN
10,State,Karnataka,68.0,53.0,NaN,NaN,NaN
11,State,Kerala,83.0,80.0,NaN,NaN,NaN
12,State,Madhya Pradesh,44.0,43.0,NaN,NaN,NaN
13,State,Maharashtra,66.0,44.0,NaN,NaN,NaN
14,State,Manipur,60.0,64.0,NaN,NaN,NaN
15,State,Meghalaya,77.0,37.0,NaN,NaN,NaN
16,State,Mizoram,80.0,72.0,NaN,NaN,NaN
17,State,Nagaland,73.0,64.0,NaN,NaN,NaN
18,State,Odisha,41.0,42.0,NaN,NaN,NaN
19,State,Punjab,69.0,73.0,NaN,NaN,NaN
20,State,Rajasthan,63.0,53.0,NaN,NaN,NaN
21,State,Sikkim,80.0,69.0,NaN,NaN,NaN
22,State,Tamil Nadu,86.0,66.0,NaN,NaN,NaN
23,State,Telangana,68.0,50.0,NaN,NaN,NaN
24,State,Tripura,82.0,52.0,NaN,NaN,NaN
25,State,Uttar Pradesh,44.0,41.0,NaN,NaN,NaN
26,State,Uttarakhand,74.0,61.0,NaN,NaN,NaN
27,State,West Bengal,59.0,46.0,NaN,NaN,NaN
28,Union Territory,Andaman and Nicobar Islands,71.0,45.0,NaN,NaN,NaN
29,Union Territory,Chandigarh,75.0,97.0,NaN,NaN,NaN
30,Union Territory,Dadra and Nagar Haveli and Daman and Diu,65.0,27.0,NaN,NaN,NaN
31,Union Territory,Delhi,81.0,63.0,NaN,NaN,NaN
32,Union Territory,Jammu and Kashmir,69.0,71.0,NaN,NaN,NaN
33,Union Territory,Ladakh,79.0,71.0,NaN,NaN,NaN
34,Union Territory,Lakshadweep,61.0,74.0,NaN,NaN,NaN
35,Union Territory,Puducherry,75.0,59.0,NaN,NaN,NaN

In [37]:
data2 = data1.drop(columns = ["Unnamed: 4", "Unnamed: 5", "Unnamed: 6"])

In [38]:
data2

           Category                                  State/UT  SDG 1  SDG 2
0             State                            Andhra Pradesh   81.0   52.0
1             State                         Arunachal Pradesh   54.0   66.0
2             State                                     Assam   51.0   41.0
3             State                                     Bihar   32.0   31.0
4             State                              Chhattisgarh   49.0   37.0
5             State                                       Goa   83.0   78.0
6             State                                   Gujarat   66.0   46.0
7             State                                   Haryana   69.0   58.0
8             State                          Himachal Pradesh   80.0   52.0
9             State                                 Jharkhand   36.0   19.0
10            State                                 Karnataka   68.0   53.0
11            State                                    Kerala   83.0   80.0
12            State                            Madhya Pradesh   44.0   43.0
13            State                               Maharashtra   66.0   44.0
14            State                                   Manipur   60.0   64.0
15            State                                 Meghalaya   77.0   37.0
16            State                                   Mizoram   80.0   72.0
17            State                                  Nagaland   73.0   64.0
18            State                                    Odisha   41.0   42.0
19            State                                    Punjab   69.0   73.0
20            State                                 Rajasthan   63.0   53.0
21            State                                    Sikkim   80.0   69.0
22            State                                Tamil Nadu   86.0   66.0
23            State                                 Telangana   68.0   50.0
24            State                                   Tripura   82.0   52.0
25            State                             Uttar Pradesh   44.0   41.0
26            State                               Uttarakhand   74.0   61.0
27            State                               West Bengal   59.0   46.0
28  Union Territory               Andaman and Nicobar Islands   71.0   45.0
29  Union Territory                                Chandigarh   75.0   97.0
30  Union Territory  Dadra and Nagar Haveli and Daman and Diu   65.0   27.0
31  Union Territory                                     Delhi   81.0   63.0
32  Union Territory                         Jammu and Kashmir   69.0   71.0
33  Union Territory                                   Ladakh    79.0   71.0
34  Union Territory                               Lakshadweep   61.0   74.0
35  Union Territory                                Puducherry   75.0   59.0

In [40]:
mean1 = np.mean(data2['SDG 2'])
mean1

55.47222222222222

# # SDG 2

In [56]:
##sorting the data of SDG 2 wrt SDG 1 in descending order and taking a sample of 7 data
data3 = data2.sort_values('SDG 1',ascending=False).head(7)
data3

           Category          State/UT  SDG 1  SDG 2
22            State        Tamil Nadu   86.0   66.0
5             State               Goa   83.0   78.0
11            State            Kerala   83.0   80.0
24            State           Tripura   82.0   52.0
0             State    Andhra Pradesh   81.0   52.0
31  Union Territory             Delhi   81.0   63.0
8             State  Himachal Pradesh   80.0   52.0

In [58]:
#applying t-test to the sample
from scipy.stats import ttest_1samp
mean01 = np.mean(data3['SDG 2'])
print(mean01)
tset, pval = ttest_1samp(data3['SDG 2'], mean1)
# print(“p-values”,pval)
if pval < 0.025 or pval>0.975:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

63.285714285714285
we are accepting null hypothesis