In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(rc={'figure.figsize':(11.7,8.27)})
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("D:\IIT\Projects\DataScienceproject\DSpro_sustainabledev_working\SDG_test_1.csv")
data

,Category,State/UT,SDG 15,SDG 13,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,State,Andhra Pradesh,69.0,63.0,NaN,NaN,NaN
1,State,Arunachal Pradesh,93.0,58.0,NaN,NaN,NaN
2,State,Assam,78.0,53.0,NaN,NaN,NaN
3,State,Bihar,62.0,16.0,NaN,NaN,NaN
4,State,Chhattisgarh,65.0,38.0,NaN,NaN,NaN
5,State,Goa,59.0,44.0,NaN,NaN,NaN
6,State,Gujarat,61.0,67.0,NaN,NaN,NaN
7,State,Haryana,48.0,51.0,NaN,NaN,NaN
8,State,Himachal Pradesh,68.0,62.0,NaN,NaN,NaN
9,State,Jharkhand,71.0,25.0,NaN,NaN,NaN
10,State,Karnataka,67.0,62.0,NaN,NaN,NaN
11,State,Kerala,77.0,69.0,NaN,NaN,NaN
12,State,Madhya Pradesh,84.0,49.0,NaN,NaN,NaN
13,State,Maharashtra,52.0,58.0,NaN,NaN,NaN
14,State,Manipur,60.0,57.0,NaN,NaN,NaN
15,State,Meghalaya,64.0,62.0,NaN,NaN,NaN
16,State,Mizoram,48.0,66.0,NaN,NaN,NaN
17,State,Nagaland,63.0,69.0,NaN,NaN,NaN
18,State,Odisha,83.0,70.0,NaN,NaN,NaN
19,State,Punjab,48.0,51.0,NaN,NaN,NaN
20,State,Rajasthan,43.0,49.0,NaN,NaN,NaN
21,State,Sikkim,73.0,65.0,NaN,NaN,NaN
22,State,Tamil Nadu,63.0,61.0,NaN,NaN,NaN
23,State,Telangana,81.0,43.0,NaN,NaN,NaN
24,State,Tripura,69.0,41.0,NaN,NaN,NaN
25,State,Uttar Pradesh,61.0,39.0,NaN,NaN,NaN
26,State,Uttarakhand,64.0,60.0,NaN,NaN,NaN
27,State,West Bengal,53.0,39.0,NaN,NaN,NaN
28,Union Territory,Andaman and Nicobar Islands,72.0,77.0,NaN,NaN,NaN
29,Union Territory,Chandigarh,85.0,61.0,NaN,NaN,NaN
30,Union Territory,Dadra and Nagar Haveli and Daman and Diu,62.0,18.0,NaN,NaN,NaN
31,Union Territory,Delhi,81.0,55.0,NaN,NaN,NaN
32,Union Territory,Jammu and Kashmir,52.0,63.0,NaN,NaN,NaN
33,Union Territory,Ladakh,27.0,66.0,NaN,NaN,NaN
34,Union Territory,Lakshadweep,67.0,68.0,NaN,NaN,NaN
35,Union Territory,Puducherry,50.0,23.0,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data1 = data.drop(36)

In [5]:
data2 = data1.drop(columns = ["Unnamed: 4", "Unnamed: 5", "Unnamed: 6"])

In [6]:
data2

           Category                                  State/UT  SDG 15  SDG 13
0             State                            Andhra Pradesh    69.0    63.0
1             State                         Arunachal Pradesh    93.0    58.0
2             State                                     Assam    78.0    53.0
3             State                                     Bihar    62.0    16.0
4             State                              Chhattisgarh    65.0    38.0
5             State                                       Goa    59.0    44.0
6             State                                   Gujarat    61.0    67.0
7             State                                   Haryana    48.0    51.0
8             State                          Himachal Pradesh    68.0    62.0
9             State                                 Jharkhand    71.0    25.0
10            State                                 Karnataka    67.0    62.0
11            State                                    Kerala    77.0    69.0
12            State                            Madhya Pradesh    84.0    49.0
13            State                               Maharashtra    52.0    58.0
14            State                                   Manipur    60.0    57.0
15            State                                 Meghalaya    64.0    62.0
16            State                                   Mizoram    48.0    66.0
17            State                                  Nagaland    63.0    69.0
18            State                                    Odisha    83.0    70.0
19            State                                    Punjab    48.0    51.0
20            State                                 Rajasthan    43.0    49.0
21            State                                    Sikkim    73.0    65.0
22            State                                Tamil Nadu    63.0    61.0
23            State                                 Telangana    81.0    43.0
24            State                                   Tripura    69.0    41.0
25            State                             Uttar Pradesh    61.0    39.0
26            State                               Uttarakhand    64.0    60.0
27            State                               West Bengal    53.0    39.0
28  Union Territory               Andaman and Nicobar Islands    72.0    77.0
29  Union Territory                                Chandigarh    85.0    61.0
30  Union Territory  Dadra and Nagar Haveli and Daman and Diu    62.0    18.0
31  Union Territory                                     Delhi    81.0    55.0
32  Union Territory                         Jammu and Kashmir    52.0    63.0
33  Union Territory                                   Ladakh     27.0    66.0
34  Union Territory                               Lakshadweep    67.0    68.0
35  Union Territory                                Puducherry    50.0    23.0

In [7]:
mean1 = np.mean(data2['SDG 15'])
mean1

64.52777777777777

# # SDG 15

In [8]:
#sorting the data of SDG 15 wrt SDG 13 in descending order and taking a sample of 7 data
data3 = data2.sort_values('SDG 13', ascending=False).head(7)
data3

           Category                     State/UT  SDG 15  SDG 13
28  Union Territory  Andaman and Nicobar Islands    72.0    77.0
18            State                       Odisha    83.0    70.0
11            State                       Kerala    77.0    69.0
17            State                     Nagaland    63.0    69.0
34  Union Territory                  Lakshadweep    67.0    68.0
6             State                      Gujarat    61.0    67.0
33  Union Territory                      Ladakh     27.0    66.0

In [9]:
#applying t-test to the sample
from scipy.stats import ttest_1samp
mean01 = np.mean(data3['SDG 15'])
print(mean01)
tset, pval = ttest_1samp(data3['SDG 15'], mean1)
# print(“p-values”,pval)
if pval < 0.025 or pval>0.975:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

64.28571428571429
we are accepting null hypothesis