In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(rc={'figure.figsize':(11.7,8.27)})
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("D:\IIT\Projects\DataScienceproject\DSpro_sustainabledev_working\SDG_test_1.csv")
data

,Category,State/UT,SDG 11,SDG 12,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,State,Andhra Pradesh,78.0,84.0,NaN,NaN,NaN
1,State,Arunachal Pradesh,39.0,77.0,NaN,NaN,NaN
2,State,Assam,55.0,66.0,NaN,NaN,NaN
3,State,Bihar,67.0,59.0,NaN,NaN,NaN
4,State,Chhattisgarh,78.0,64.0,NaN,NaN,NaN
5,State,Goa,89.0,47.0,NaN,NaN,NaN
6,State,Gujarat,87.0,50.0,NaN,NaN,NaN
7,State,Haryana,81.0,77.0,NaN,NaN,NaN
8,State,Himachal Pradesh,79.0,77.0,NaN,NaN,NaN
9,State,Jharkhand,71.0,55.0,NaN,NaN,NaN
10,State,Karnataka,78.0,89.0,NaN,NaN,NaN
11,State,Kerala,75.0,65.0,NaN,NaN,NaN
12,State,Madhya Pradesh,81.0,78.0,NaN,NaN,NaN
13,State,Maharashtra,87.0,82.0,NaN,NaN,NaN
14,State,Manipur,65.0,89.0,NaN,NaN,NaN
15,State,Meghalaya,51.0,73.0,NaN,NaN,NaN
16,State,Mizoram,61.0,87.0,NaN,NaN,NaN
17,State,Nagaland,48.0,91.0,NaN,NaN,NaN
18,State,Odisha,70.0,73.0,NaN,NaN,NaN
19,State,Punjab,91.0,71.0,NaN,NaN,NaN
20,State,Rajasthan,81.0,74.0,NaN,NaN,NaN
21,State,Sikkim,85.0,76.0,NaN,NaN,NaN
22,State,Tamil Nadu,79.0,78.0,NaN,NaN,NaN
23,State,Telangana,76.0,73.0,NaN,NaN,NaN
24,State,Tripura,67.0,99.0,NaN,NaN,NaN
25,State,Uttar Pradesh,77.0,79.0,NaN,NaN,NaN
26,State,Uttarakhand,76.0,82.0,NaN,NaN,NaN
27,State,West Bengal,45.0,79.0,NaN,NaN,NaN
28,Union Territory,Andaman and Nicobar Islands,85.0,73.0,NaN,NaN,NaN
29,Union Territory,Chandigarh,98.0,78.0,NaN,NaN,NaN
30,Union Territory,Dadra and Nagar Haveli and Daman and Diu,89.0,62.0,NaN,NaN,NaN
31,Union Territory,Delhi,65.0,50.0,NaN,NaN,NaN
32,Union Territory,Jammu and Kashmir,57.0,95.0,NaN,NaN,NaN
33,Union Territory,Ladakh,57.0,95.0,NaN,NaN,NaN
34,Union Territory,Lakshadweep,56.0,63.0,NaN,NaN,NaN
35,Union Territory,Puducherry,76.0,66.0,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data1 = data.drop(36)

In [4]:
data2 = data1.drop(columns = ["Unnamed: 4", "Unnamed: 5", "Unnamed: 6"])

In [5]:
data2

           Category                                  State/UT  SDG 11  SDG 12
0             State                            Andhra Pradesh    78.0    84.0
1             State                         Arunachal Pradesh    39.0    77.0
2             State                                     Assam    55.0    66.0
3             State                                     Bihar    67.0    59.0
4             State                              Chhattisgarh    78.0    64.0
5             State                                       Goa    89.0    47.0
6             State                                   Gujarat    87.0    50.0
7             State                                   Haryana    81.0    77.0
8             State                          Himachal Pradesh    79.0    77.0
9             State                                 Jharkhand    71.0    55.0
10            State                                 Karnataka    78.0    89.0
11            State                                    Kerala    75.0    65.0
12            State                            Madhya Pradesh    81.0    78.0
13            State                               Maharashtra    87.0    82.0
14            State                                   Manipur    65.0    89.0
15            State                                 Meghalaya    51.0    73.0
16            State                                   Mizoram    61.0    87.0
17            State                                  Nagaland    48.0    91.0
18            State                                    Odisha    70.0    73.0
19            State                                    Punjab    91.0    71.0
20            State                                 Rajasthan    81.0    74.0
21            State                                    Sikkim    85.0    76.0
22            State                                Tamil Nadu    79.0    78.0
23            State                                 Telangana    76.0    73.0
24            State                                   Tripura    67.0    99.0
25            State                             Uttar Pradesh    77.0    79.0
26            State                               Uttarakhand    76.0    82.0
27            State                               West Bengal    45.0    79.0
28  Union Territory               Andaman and Nicobar Islands    85.0    73.0
29  Union Territory                                Chandigarh    98.0    78.0
30  Union Territory  Dadra and Nagar Haveli and Daman and Diu    89.0    62.0
31  Union Territory                                     Delhi    65.0    50.0
32  Union Territory                         Jammu and Kashmir    57.0    95.0
33  Union Territory                                   Ladakh     57.0    95.0
34  Union Territory                               Lakshadweep    56.0    63.0
35  Union Territory                                Puducherry    76.0    66.0

In [6]:
mean1 = np.mean(data2['SDG 11'])
mean1

72.22222222222223

# # SDG 11

In [8]:
#sorting the data of SDG 11 wrt SDG 12 in descending order and taking a sample of 7 data
data3 = data2.sort_values('SDG 12', ascending=False).head(7)
data3

           Category           State/UT  SDG 11  SDG 12
24            State            Tripura    67.0    99.0
33  Union Territory            Ladakh     57.0    95.0
32  Union Territory  Jammu and Kashmir    57.0    95.0
17            State           Nagaland    48.0    91.0
10            State          Karnataka    78.0    89.0
14            State            Manipur    65.0    89.0
16            State            Mizoram    61.0    87.0

In [9]:
#applying t-test to the sample
from scipy.stats import ttest_1samp
mean01 = np.mean(data3['SDG 11'])
print(mean01)
tset, pval = ttest_1samp(data3['SDG 11'], mean1)
# print(“p-values”,pval)
if pval < 0.025 or pval>0.975:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

61.857142857142854
we are accepting null hypothesis